@import 'variables';

.container {
    padding: 3rem 0;
    max-width: 1200px;
    margin: auto;
}
.content-padding-3 {
    padding: 3rem;
    @media screen and (max-width: $break-sm) {
        padding: 1rem;
      }
}
.aboutme-text {
    padding: 0 8rem;
    @media screen and (max-width: $break-sm) {
        padding: 0 1rem;
      }
    svg {
        fill: black;
    }
    p {
        color: $dark-700;
        line-height: 1.6;
        margin-bottom: 2rem;
    }
    h2 {
        color: $dark-600;
        margin-bottom: 2.5rem;
    }
    span {
        color: $purple-900;
    }
}