@import "variables";

.footer {
    text-align: center;
    color: white;
    padding: 2rem 0;
    background-color: $purple-900;
}
.cta {
    margin-top: 8rem;
    padding: 2rem 2rem;
    text-align: center;
    color: white;
    background-color: $purple-900;
    p {
        color: $dark-txt;
    }
}
.cta-container {
    margin: 0 auto;
}

.cta-box {
  border-radius: 12px;
  background-color: $dark-500;
  margin-top: -5rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px $dark-500;
}
.box-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding: 1rem 0;
  @media screen and (max-width: $break-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}
