@import 'variables';

.portfolio {
    background-color: $light-bg;
    &-filters {
        ul {
            list-style-type: none;
            display: flex;
            padding-inline-start: 0;
            justify-content: center;
        }
        li {
            color: $dark-700;
            font-size: 1.1rem;
            padding: .5rem 1rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3vh;
        @media screen and (max-width: $break-sm) {
            grid-template-columns: repeat(1, 1fr);
          }
    }
    &-item {
        display: none;
        padding: 6rem;
        background-color: white;
    }
}
.show {
    display: block;
}