@import "variables";

.portfolio-card {
  transition: 0.2s all;
  overflow: hidden;
  margin-bottom: 1rem;

  &__title {
    padding: 0.5rem 1rem 0 1rem;
    margin: 0rem 0 0.25rem 0;
    text-align: left;
    color: $gray-800;
    letter-spacing: -.01rem;
  }
  span {
    font-size: 0.85rem;
    color: $dark-800;
    padding: 0 1rem 0 1rem;
    float: left;
    text-align: left;
  }
  &__image {
    img {
      border-radius: 0.5rem;
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
