$dark-500: #2C2F51;
$dark-600: #363A5F;
$dark-700: rgb(80, 85, 129);
$dark-800: rgb(135, 140, 194);
$dark-900: rgb(175, 180, 225);
$dark-txt: rgb(177, 183, 226);
$blue-900: #06FFF7;
$green-800: rgb(49, 207, 104);
$green-700: rgb(33, 180, 84);
$green-600: rgb(18, 156, 67);
$green-900: #43E97C;
$orange-900: rgb(253, 196, 71);
$red-900: rgb(250, 102, 102);
$purple-900: #774FD0;
$purple-800: rgb(93, 62, 158);
$purple-bg: #8C43FF;
$purple-hl: rgb(157, 122, 233);
$gray-800: #4a4a4a;
$light-bg: #f2f4f8;

$break-sm: 720px;
$sv-font-size-subheading: 1.2rem;